<ul class="list-unstyled components">
    {% if request.user.is_staff %}
    <li>
    <a href="{% url 'account:admin_dashboard' %}">Dashboard</a>
    </li>
    <li>
    <a href="{% url 'account:add_patient' %}">Add Patient</a>
    </li>
    <li>
    <a href="{% url 'account:doctors_list' %}">Doctors</a>
    </li>
    <li>
        <a href="{% url 'account:bill_spec_list' %}">Billing Specifications</a>
    </li>
    <li>
    <a href="{% url 'account:billing_list' %}">Billings</a>
    </li>
    <li>
        <a href="{% url 'account:payment_list' %}">Payments</a>
    </li>
    <li>
        <a href="{% url 'account:address_list' %}">Addresses</a>
    </li>
    
    {% else %}
    <li>
        <a href="{% url 'patient:patient_dashboard' %}">Dashboard</a>
    </li>
    <li>
        <a href="{% url 'patient:patient_billing' %}">Billing</a>
    </li>
    <li>
        <a href="{% url 'patient:payment' %}">Make Payment</a>
    </li>
    <li>
        <a href="{% url 'patient:appointment_list' %}">Appointments</a>
    </li>
    <li>
        <a href="{% url 'patient:contact' %}">Contact Us</a>
    </li>
    {% endif %}
    <hr>
    <a href="{% url 'account:logout' %}" class="btn btn-danger fw-bold w-100">Sign out <i class="fa-solid fa-right-from-bracket ms-4"></i></a>
</ul>

